// Define variables

$default-font: 'Raleway';


// Get some.

* {
  font-family: $default-font;
}

.jumbotron {
  text-align: center;
  background-color: #fff;
  h1 {
    font-weight: 700;
  }
}