* {
  font-family: "Raleway"; }

body {
  background: url("../img/background.jpg") center center fixed; }

.list-group-item {
  border-radius: 3px; }

.btn {
  background-color: #8372ba;
  border: #2a2a57; }

.jumbotron {
  text-align: center;
  background-color: #fff; }
  .jumbotron h1 {
    font-weight: 700;
    color: #2a2a57; }

.draw {
  text-align: center; }

.boom {
  background-color: #8372ba; }

.fa {
  font-size: 56px; }

#output {
  margin: 20px;
  text-align: center;
  width: 100%;
  background-color: rgba(238, 191, 234, 0.86);
  border-radius: 10px;
  font-size: 60px;
  color: white; }

#outputTwo {
  margin: 20px;
  text-align: center;
  width: 100%;
  padding: 20px;
  background-color: rgba(238, 191, 234, 0.86);
  border-radius: 10px;
  font-size: 60px;
  color: white; }

#outputThree {
  margin: 20px;
  text-align: center;
  width: 100%;
  padding: 20px;
  background-color: rgba(238, 191, 234, 0.86);
  border-radius: 10px;
  font-size: 60px;
  color: white; }

section {
  height: 100vh; }
